.header {
  display: flex;
  width: 986px;
  height: 62px;
  flex-shrink: 0;
  margin-top: 81px;
  margin-left: 86px;
  margin-right: 368px;
}
.logo {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 50px;
}
.text {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 30px;
  text-align: center;
}
.search {
  width: 276px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F1F1F1;
  margin-left: 50px;
  margin-top: 6px;
  margin-right: 50px;
}
.search input {
  color: var(--sub-text-2, #B0B0B0);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-style: none;
  background: #F1F1F1;
  padding-left: 20px;
}
.search img {
  float: right;
  margin-right: 15px;
}
ul li{
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
  margin: 50px 0px;
  border-right: 1px solid black;
}
ul li:last-child {
  border-style: none;
}
ul li a {
  text-decoration: none;
  color: #929292;
  font-family: "Noto Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttontext {
  width: 378px;
  height: 52px;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--Main, #85D6D1);
  margin: 50px;
}

.news {
  margin: 80px;
}
.news h4 {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.news h5 {
  color: var(--Sub-Text, #797979);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news img {
  width: 88.061px;
  height: 96px;
  border-radius: 10px;
  margin: 10px;
}

.book {
  display: flex;
  width: 831.209px;
  height: 71.209px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 488px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--main-5, #ABE2DF);
}

.titletext {
  padding: 8px 32px;
}
.titletext h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titletext h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
